<a href="https://colab.research.google.com/github/loriebis/Act_Profelect2/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/loriebis/Act_Profelect2/main/online_gaming_behavior_dataset.csv')

In [ ]:
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium

In [14]:
df.duplicated().sum()

0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40034 entries, 0 to 40033
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   40034 non-null  int64
 1   Age                        40034 non-null  int64
 2   Gender                     40034 non-null  object
 3   Location                   40034 non-null  object
 4   GameGenre                  40034 non-null  object
 5   PlayTimeHours              40034 non-null  int64
 6   InGamePurchases            40034 non-null  int64
 7   GameDifficulty             40034 non-null  object
 8   SessionsPerWeek            40034 non-null  int64
 9   AvgSessionDurationMinutes  40034 non-null  int64
 10  PlayerLevel                40034 non-null  int64
 11  AchievementsUnlocked       40034 non-null  int64
 12  EngagementLevel            40034 non-null  object
dtypes: int64(8), object(5)
memory usage: 4.0+ MB

In [11]:
df['PlayTimeHours']=pd.to_numeric(df['PlayTimeHours'], errors="coerce").astype('int64')

In [12]:
df['PlayTimeHours'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 40034 entries, 0 to 40033
Series name: PlayTimeHours
Non-Null Count  Dtype
--------------  -----
40034 non-null  int64
dtypes: int64(1)
memory usage: 312.9 KB

In [20]:
print(df['PlayTimeHours'])

0        16
1         5
2         8
3         5
4        15
         ..
40029    20
40030    13
40031     0
40032    14
40033    10
Name: PlayTimeHours, Length: 40034, dtype: int64

In [16]:
df['SessionsPerWeek']=pd.to_numeric(df['SessionsPerWeek'], errors="coerce").astype('int64')

In [28]:
df['AvgSessionDurationMinutes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 40034 entries, 0 to 40033
Series name: AvgSessionDurationMinutes
Non-Null Count  Dtype
--------------  -----
40034 non-null  int64
dtypes: int64(1)
memory usage: 312.9 KB

In [29]:
print(df['AvgSessionDurationMinutes'])

0        108
1        144
2        142
3         85
4        131
        ...
40029     75
40030    114
40031    176
40032    128
40033     84
Name: AvgSessionDurationMinutes, Length: 40034, dtype: int64

In [30]:
df['time_gap'] = df['AvgSessionDurationMinutes'] / df['AvgSessionDurationMinutes']

In [31]:
df['time_gap']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
40029    1.0
40030    1.0
40031    1.0
40032    1.0
40033    1.0
Name: time_gap, Length: 40034, dtype: float64